---
- name: Deploy Restic backup system
  hosts: backup_servers
  become: yes
  vars_files:
    - group_vars/backup_servers/vault.yml

  tasks:
    - name: Copy restic backup script
      copy:
        src:  /home/mjouhari/ansbackup/templates/scripts/backup-script.sh  # Path on YOUR Ansible controller machine
        dest: /home/mjouhari/restic-backup.sh
        mode: '0750'
        owner: mjouhari
        group: mjouhari

    - name: Create environment file for this host
      copy:
        dest: /home/mjouhari/restic.env
        content: |
          export RESTIC_REPOSITORY="{{ restic_repo }}"
          export RESTIC_PASSWORD="{{ restic_password }}"
          export LOG_FILE="/home/mjouhari/restic-backup.log"
          export RESTIC_SFTP_ARGS="-o IdentitiesOnly=yes -i /home/mjouhari/.ssh/restic_key"

          export BACKUP_GROUPS='{{ backup_groups | to_json }}'  

        mode: '0600'
        owner: mjouhari
        group: mjouhari

    - name: Ensure .ssh directory exists for mjouhari
      file:
        path: /home/mjouhari/.ssh
        state: directory
        owner: mjouhari
        group: mjouhari
        mode: '0700'

    - name: Ensure log file exists with correct permissions
      file:
        path: /home/mjouhari/restic-backup.log
        state: touch
        owner: mjouhari
        group: mjouhari
        mode: '0644'

        # Create separate cron job per group
    - name: Create cron jobs for each backup group
      cron:
        name: "Restic backup for {{ item.name }}"
        user: "{{ ansible_user }}"
        minute: "{{ item.schedule.split(' ')[0] }}"
        hour: "{{ item.schedule.split(' ')[1] }}"
        day: "{{ item.schedule.split(' ')[2] }}"
        month: "{{ item.schedule.split(' ')[3] }}"
        weekday: "{{ item.schedule.split(' ')[4] }}"
        job: "bash -c '. /home/{{ ansible_user }}/restic.env && /home/mehdi/restic-backup.sh {{ item.name }} >> /home/{{ ansible_user }}/restic-backup.log 2>&1'"
      loop: "{{ backup_groups }}"
